@charset "utf-8";

$font-defult-color: #333;
$font-hover-color: #1781b7;
$border-defult-color: #e7e7e7;
$bg-defult-color: #fafafa;
a{
  color: $font-defult-color;
}
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: #fbfbfb;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #fff;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    //width: 1170px;
    width: 980px;
  }
}


.top-head{
  height: 110px;
}

.top-head-link{
  height: 28px;
  background-color: #1e1b29;
  text-align:right;
  line-height: 24px;
    a{
      padding: 0 14px;
      height: 24px;
      border-right: 1px solid #fff;
      color: #ffffff;
      font-size: 12px;
      &:last-of-type {
        border-right: 0 none;
        padding-right: 0;
      }
    }
}

.top-head-nav{
  height: 82px;
    ul{
      margin-top: 19px;
      margin-left: 35px;
    }
    li a{
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
    }
  .active a{
    color: $font-hover-color;
  }
  .top-head-nav-logo{
    float: left;
    margin-top: 20px;
  }
}

.slide-wrap{
  ol{
    bottom: 66px;
    li{
      width: 14px;
      height: 14px;
    }
    .active{
      width: 15px;
      height: 15px;
    }
  }
  img{
    margin: 0 auto;
    width: 100%;
  }
}

.search-wrap{
  height: 130px;
  overflow: hidden;
}

.search-input-wrap{
  margin-top: 42px;
  height: 46px;
  border: 2px solid $font-hover-color;
  overflow: hidden;
  input{
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    outline: 0 none;
  }
  input[type = text]{
    width: 80%;
    text-indent: 26px;
    &::-moz-placeholder { color: #333; }
    &::-webkit-input-placeholder { color:#333; }
    &:-ms-input-placeholder { color:#333; }
  }
  input[type = button]{
      float: right;
      padding: 0;
      width: 20%;
      font-size: 18px;
      color: #fff;
      background-color: $font-hover-color;
    }

}

.hot-search{
  height: 42px;
  line-height: 42px;
  overflow: hidden;
    a{
      padding-right: 29px;
    }
  .active{
    color: $font-hover-color;
  }
}

.tab-wrap{
  margin-top: 18px;
  background-color:$bg-defult-color;
    ul{
      border: 0 none;
        a{
          padding: 15px 30px 5px 30px;
          font-size: 20px;
        }
    }
    ul>li.active>a,
    ul>li.active>a:hover,
    ul>li.active>a:focus{
      border: 0 none;
      border-bottom: 2px solid $font-hover-color;
      background-color: transparent;
      color: #101010;
      font-weight: bold;
    }
    th a{
      font-weight: normal;
      color: $font-hover-color;
    }
    tbody>tr>td,
    tbody>tr>th,
    tfoot>tr>td,
    tfoot>tr>th,
    thead>tr>td,
    thead>tr>th{
      padding: 14px 8px;
    }
    .table{
      margin-bottom: 40px;
    }
}

.company-tt{
  margin-bottom: 20px;
  border-bottom: 1px solid $font-defult-color;
    span{
      float: left;
      padding: 12px 30px 4px;
      margin-bottom: -1px;
      font-size: 20px;
      color: #101010;
      border-bottom: 2px solid $font-hover-color;
    }
}
.company-item-wrap{
  margin-right: -12px;
  padding-bottom: 8px;
}
.company-item{
  margin-right: 12px;
  margin-bottom: 12px;
  float: left;
  width: 186px;
  height: 198px;
  border: 1px solid $border-defult-color;
    img{
      margin: 12px 0 0 12px;
      width: 160px;
      height: 80px;
    }
    ul{
      margin-top: 16px;
      list-style-type: square;
        a{
          font-size: 14px;
          line-height: 24px;
        }
        i{
          font-style: normal;
          color: $font-hover-color;
        }
    }
}

.links-wrap{
  padding: 30px 0;
  background-color:$bg-defult-color;
}
.links-item{
  padding-left: 70px;
  position: relative;
    span{
      position: absolute;
      top: 0;
      left: 0;
    }
    a{
      margin-right: 12px;
      line-height: 22px;
    }
}

.footer-wrap{
  border-top: 1px solid #444050;
  background-color: #1e1b29;
    p{
      padding-top: 20px;
      font-size: 12px;
      line-height: 24px;
      color: #f2f2f2;
      text-align: center;
    }

    .container{
      padding: 40px 0;
        img{
          vertical-align: top;
        }
    }
    dl{
      width: 140px;
      line-height: 22px;
      padding-left: 40px;
      border-left: 1px dotted #dedede;
      display: inline-block;
      dt,
      dd a{
        color: #ffffff;
      }
      dt{
        font-size: 14px;
        font-weight: bold;
      }
      dd{
        line-height: 22px;
      }
      &:last-of-type{
        border-right: 1px dotted #dedede;
      }
    }
    .footer-l-logo{
      margin-right: 14px;
    }
    .footer-r-logo{
      margin-top: 15px;
      margin-left: 54px;
    }
}